rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
   match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
    }
  }
}
